.cajatotal{
    border: 1px solid black;
    width: 90vw;
    height: 100vw;
    margin: 0 auto;
}

.nombre{
    text-align: center;
    display: flex;
    background-color:magenta;
    height: 99.2vw;
    width: 45px;
    margin: 15px;
    float: left;
}
