*{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.name{
    color: white;
    font-size: 40px;
    margin-right: 500px;
    margin-top: 50px;
    margin-left:100px;
    margin-bottom: 100px;
}


.actividad20{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
}
    
.actividad21{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad22{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad24{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad25{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad26{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad27{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad28{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.actividad37{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}
.actividad38{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}
.actividad39{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}
.actividad40{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}
.actividad41{
    border: 4px solid rgb(0, 255, 255);
    background-color: white;
    height: 125px;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.fondo{
     background-image: url(background-2400765_1280\ \(1\).webp);
     position: relative;
     overflow: hidden;
     margin: 0 auto;
    background-size: 1870px;
    width: 1870px;
}
