.contenedor{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "header header" 
    "nav main"
    "pie pie";
}

.contenedor div{
    border: 2px solid blue;
}

.cabecera{
    text-align: center;
    grid-area: header;
    color: blue;
}

.nav{
    grid-area: nav;
    text-align: center;
}

.nav div{
    margin-top: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: orangered;
}

.main{
    grid-area: main;
    padding: 2vw;
}

.main a img{
    width: 100%;
}

.pie{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    grid-area: pie;
    color: white;
}

.pie div a img{
    width: 100%;
}

.logo1{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.text{
    background-color: blue;
    grid-column: 1 / 4;
}